<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alpha6</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/alphabet']" name="arrow-back-outline" class="dd"></ion-icon>
  <header>
    <div class="app"><h2>Apprendre l'alphabet</h2></div>
</header><br><br>
    <div class="harf"><h5>حَرْفَ حَاءُ</h5></div>
<div class="grid">
    <div class="ap"><p class="h1"><h1>ha = حَ</h1></div><br>
      <audio controls >
        <source src="horse.ogg" type="audio/ogg">
        <source src="../../assets/audio/.mp3" type="audio/mpeg">
</audio><br>
  <img src="../../assets/image/pison.webp" height="100%" width="80%"><br>
  <h1><p >beretugan = حَمَامَةٌ </p></h1><br>
</div>
<div class="rr">
  <ion-icon [routerLink]="['/alpha7']" name="arrow-forward-circle-outline"></ion-icon>
 </div>
</ion-content>
