<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mots2</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/mots']" name="arrow-back-outline" class="dd"></ion-icon>
  <div class="phrase">
    <h6><p>Daɲɛ minnu bɛ fɔ tuma caman na <span style="margin-left:20px"> كَلْمَاتُ شَائِعَةُ</span></p></h6>
</div>
      <h4><p class="ex">I n'a fo <span style="margin-left:9px">:مَثَلاً</span></p></h4>
<div class="phra">
    <h4><p class="foli"><span style="margin-right:11px">Folikanw</span><span style="margin-left:10px">اَلْتَّحِيَاتُ </span></p></h4>
</div>
  <div class="ph">
     <h3><p>kisi bɛ aw ka<span style="margin-left:15px">اَلْسَّلاَمُ عَلِيْكُمْ</span></p></h3>
 <h3><p>A' ni sɔgɔma<span style="margin-left:15px">صَبَاحُ اَلْخَيْرِ</span></p></h3>
         <h3><p>A' ni sɔgɔma<span style="margin-left:15px">صَبَاحُ اَلْنُوُرِ</span></p></h3>
 <h3><p>A' ni wula<span style="margin-left:15px">مَسَاءُ اَلْخَيْرِ</span></p></h3>
 <h3><p>ka an bo su ra<span style="margin-left:15px">لِيْلُ سَعِيِدْ</span></p></h3>
 <h3><p>I ka kɛnɛ wa<span style="margin-left:15px">كَيْفَ اَلْحَالُ</span></p></h3>
 <h3><p>Kow cogoya bɛ cogo di?<span style="margin-left:15px">كَيْفَ اَلْظُرُوُفُ</span></p></h3>
 <h3><p>I danse<span style="margin-left:15px">مَرَحَبًا</span></p></h3>
 <h3><p>Aw  ɲuma naana <span style="margin-left:15px">أَهْلاًوَسَهْلاً</span></p></h3>
 <h3><p>ka barika da<span style="margin-left:15px">شُكْرً</span></p></h3>
 <h2><p>i ni ce<span style="margin-left:15px">مُبَارَكْ</span></p></h2>
 <h3><p>Seli Dugawu<span style="margin-left:15px">عِيِدُ مُبَارَكْ</span></p></h3>
 <h3><p>kan bɛ<span style="margin-left:15px">مَعَ اَلْسَلاَمُ</span></p></h3>
 <h3><p>Kan bɛn sɔɔni<span style="margin-left:15px">إِلَىَ اَلْلِقَاءِ</span></p></h3>
 <h3><p>ni ala sɔn na<span style="margin-left:15px">إَنْ شَاءَاَلَّلهَ</span></p></h3>
 <h3><p>Ala ka nɔkɔ kɛ  i  ye<span style="margin-left:15px">صَفَكَ اَلَّلهُ</span></p></h3>
<h1>
  <audio controls >
    <source src="horse.ogg" type="audio/ogg">
    <source src="../../assets/audio/mot2.mp3" type="audio/mpeg">
</audio>
</h1>
</div>
<div class="rr">
  <ion-icon [routerLink]="['/mots3']" name="arrow-forward-circle-outline"></ion-icon>
 </div>
</ion-content>
