.phrase{
  background-color: rgb(246, 66, 30)(255, 68, 0);
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0.1px;
}
.ex{
  text-align: right;
  justify-content: right;
  margin: 8%;
}
.ph{
  text-align: right;
  justify-content: right;
  margin: 8%;
}
.foli{
  text-align: right;
  justify-content: right;
  margin: 8%;
}
.dd{
  font-size: 25px;
}
.rr{
  font-size: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(242, 67, 23);
  color: white;
  margin: 140px;
  margin-top: 20px;
}
