<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alpha13</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/alphabet']" name="arrow-back-outline" class="dd"></ion-icon>
  <header>
    <div class="app"><h2>Apprendre l'alphabet</h2></div><br><br>
</header>
<div class="harf"><h5> حَرْفَ شِيِنُ </h5></div>
<div class="grid">
    <div class="ap"><p class="h1"><h1>Shin = شَ</h1></div><br>
      <audio controls >
        <source src="horse.ogg" type="audio/ogg">
        <source src="../../assets/audio/shin.mp3" type="audio/mpeg">
</audio>
  <img src="../../assets/image/solei.jpg" height="100%" width="80%"><br><br>
   <h1><p >tile = شَمُسٌ </p></h1><br><br>
</div>
<div class="rr">
  <ion-icon [routerLink]="['/alpha14']" name="arrow-forward-circle-outline"></ion-icon>
 </div>
</ion-content>
