<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alpha23</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/alphabet']" name="arrow-back-outline" class="dd"></ion-icon>
  <header>
    <div class="app"><h2>Apprendre l'alphabet</h2></div>
</header>
      <div class="harf"><h5>حَرْفَ لَام</h5></div>
 <div class="grid">
     <div class="ap"><p class="h1"><h1>La = لَ</h1></div><br>
      <audio controls >
        <source src="horse.ogg" type="audio/ogg">
        <source src="../../assets/audio/la.mp3" type="audio/mpeg">
</audio>
   <img src="../../assets/image/limon.jpg" height="100%" width="80%"><br>
   <h1><p >Lɛmuburu =  لِيْمُوُنُ</p></h1>
</div>
<div class="rr">
  <ion-icon [routerLink]="['/alpha24']" name="arrow-forward-circle-outline"></ion-icon>
 </div>
</ion-content>
