<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mots4</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/mots3']" name="arrow-back-outline" class="dd"></ion-icon>
  <div class="arrow"></div>
  <div class="head"><h1>Apprendre les mots courants</h1></div>

    <div class="content">
        <div class="phrase">
            <h5><p>Daɲɛ minnu bɛ fɔ tuma caman na <span style="margin-left:20px"> كَلْمَاتُ شَائِعَةُ</span></p></h5><br>
            <h4><p>I n'a fo <span style="margin-left:9px">:مَثَلاً</span></p></h4>
        </div>
        <div class="phrase">
            <h4><p><span style="margin-right:11px">Dɔgɔkun kɔnɔ donw</span><span style="margin-left:10px">اَلْأَيَامُ اَلْأُسُبُوُعِ </span></p></h4>
        </div>
          <div class="phrase">
		         <h2><p>Sibiri<span style="margin-left:15px">اَلْسَّبْتَ </span></p></h2>
				 <h2><p>Kaari<span style="margin-left:15px">اَلْأَحْدُ</span></p></h2>
                 <h2><p>Tɛnɛ<span style="margin-left:15px">اَلْإِِثْنِيْنِ</span></p></h2>
				 <h2><p>Taraata<span style="margin-left:15px">اَلْثُلاَثَاءُ</span></p></h2>
				 <h2><p>Araba<span style="margin-left:15px">اَلْأَرْبِعَاءُ</span></p></h2>
				 <h2><p>Alamisa<span style="margin-left:15px">اَلْخَمِيِسُ</span></p></h2>
				 <h2><p>Juma<span style="margin-left:15px">اَلْجُمَعَةُ</span></p></h2>
           </div>
			  <h1 class="audio">
		      <audio controls >
            <source src="horse.ogg" type="audio/ogg">
            <source src="../../assets/audio/mot4.mp3" type="audio/mpeg">
        </audio>
			  </h1>
      </div><br>
      <div class="rr">
        <ion-icon [routerLink]="['/tab1']"  name="arrow-back-circle-outline"></ion-icon>

       </div>
</ion-content>
