<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mots</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/tab1']" name="arrow-back-outline" class="dd"></ion-icon>
  <div class="head"><h4 class="headA">Apprendre les mots courants</h4></div>

    <div class="content">
        <div class="phrase">
            <p>Daɲɛ minnu bɛ fɔ tuma caman na <span style="margin-left:20px"> كَلْمَاتُ شَائِعَةُ</span></p>
            <p>I na fo <span style="margin-left:9px">:مَثَلاً</span></p>
        </div>
        <div class="phrase">
            <h6><span style="margin-left:8px">اَلْضَمَائِرُ اَلْشَخْصِيَةُ</span><span style="margin-right:6px">مُخَاطَبُ وَ مُخَاطَبَةُ</span></h6><span style="margin-right:6px">mɔgɔ yɛrɛ tɔgɔla tɔgɔw</span>
        </div>
          <div class="phrase">
		         <h4><p>Ne<span style="margin-left:9px">أَنَا</span></p></h4>
				 <h4><p>ɛ : (ni cɛ do)<span style="margin-left:11px">أَنْتَ</span></p></h4>
                 <h4><p>ɛ : (ni muso do)<span style="margin-left:9px">أَنْتِ</span></p></h4>
				 <h4><p>Aw : ( cɛ  fila )<span style="margin-left:9px">أَنْتُمَا</span></p></h4>
				 <h4><p>Aw : (muso fila )<span style="margin-left:9px">أَنْتُنَ</span></p></h4>
				 <h4><p>Aw bɛɛ : (muso ni cɛ )<span style="margin-left:9px">أَنْتُمْ</span></p></h4>
				 <h4><p>An wu : (muso ni cɛ )   <span style="margin-left:9px">نَحَنُ</span></p></h4>
				 <h4><p>Alɛ  cɛ yi <span style="margin-left:9px">هُوَ</span></p></h4>
				 <h4><p>Alɛ  muso yi <span style="margin-left:9px">هِيَ</span></p></h4>
				 <h4><p>U lu : ( cɛ  fila ) <span style="margin-left:9px">هُمَاً</span></p></h4>
				 <h4><p>U lu : ( muso  fila ) <span style="margin-left:9px">هُنَ</span></p></h4>
				 <h4><p>U lu :  ( cɛ wu ni musow ) <span style="margin-left:9px">هَوُلَآَءِ</span></p></h4>
				 <h4><p>U lu : ( cɛ wu ni musow jamakulu )<span style="margin-left:9px">هُمْ</span></p></h4>
           </div>
			  <h1>
		      <audio controls >
            <source src="horse.ogg" type="audio/ogg">
            <source src="../../assets/audio/mot1.mp3" type="audio/mpeg">
         </audio>
			  </h1>
    </div>
       <div class="rr">
       <ion-icon [routerLink]="['/mots2']" name="arrow-forward-circle-outline"></ion-icon>
      </div>
</ion-content>
