<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mots3</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/mots2']" name="arrow-back-outline" class="dd"></ion-icon>
  <div class="head"><P>Apprendre les mots courants</P></div>

    <div class="content">
        <div class="phrase">
            <h6><p>Daɲɛ minnu bɛ fɔ tuma caman na <span style="margin-left:20px"> كَلْمَاتُ شَائِعَةُ</span></p></h6>
        </div>
              <h4><p class="ex">I n'a fo <span style="margin-left:9px">:مَثَلاً</span></p></h4>
        <div class="phra">
            <h4><p class="foli"><span style="margin-right:11px">denbayaw</span><span style="margin-left:10px">الآئلة </span></p></h4>
        </div>
          <div class="ph">
		         <h2><p>Facɛ<span style="margin-left:15px">اَلْأَبُ</span></p></h2>
				 <h2><p>Ba muso<span style="margin-left:15px">اَلْأُمُ</span></p></h2>
                 <h2><p>Denkɛ<span style="margin-left:15px">اَلْإِبْنَ</span></p></h2>
				 <h2><p>Den muso<span style="margin-left:15px">اَلْإِبْنَةُ</span></p></h2>
				 <h2><p>bɛnkɛ (i fa balima ke) <span style="margin-left:15px">اَلْعَمُ</span></p></h2>
				 <h2><p>Tene muso(i fa balima muso) <span style="margin-left:15px">اَلْعَمَةُ</span></p></h2>
				 <h2><p>bɛnbakɛ<span style="margin-left:15px">اَلْجَدُ</span></p></h2>
				 <h2><p>I ma muso<span style="margin-left:15px">اَلْجَدَةُ</span></p></h2>
				 <h2><p>Bɛnkɛ(i ba balima ke) <span style="margin-left:15px">اَلَخَالُ</span></p></h2>
				 <h2><p>M'ba muso(i ba balima muso)<span style="margin-left:15px">اَلْخَالَةُ</span></p></h2>
				 <h2><p>kanimɛ kɛ<span style="margin-left:15px">إِبْنُ عَمُ</span></p></h2>
				 <h2><p>Kanimɛ muso<span style="margin-left:15px">إِبْنُ عَمَةِ</span></p></h2>

           </div>
			  <h1>
		      <audio controls >
            <source src="horse.ogg" type="audio/ogg">
            <source src="../../assets/audio/mot3.mp3" type="audio/mpeg">
          </audio>
			  </h1>
    </div>
    <div class="rr">
      <ion-icon [routerLink]="['/mots4']" name="arrow-forward-circle-outline"></ion-icon>
     </div>

</ion-content>
