.head{
  background-color: rgb(242, 65, 21);
  color: white;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  margin: 20px;
}
.phrase{
  text-align: center;
  justify-content: center;
}
.ex{
  text-align: right;
  justify-content: right;
  margin: 12px;
}
.foli{
  text-align: right;
  justify-content: right;
  margin: 12px;
}
.ph{
  text-align: right;
  justify-content: right;
  margin: 12px;
}
.content{
  text-align: center;
  justify-content: center;

}
.dd{
  font-size: 25px;
}
.rr{
  font-size: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(241, 70, 27);
  color: white;
  margin: 140px;
  margin-top: 20px;
}

