.head{
  background-color: rgb(238, 63, 19),(255, 51, 0);
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 20px;

}
.phrase{
  text-align: center;
  justify-content: center;

}
.phra{
  text-align: right;
  justify-content: right;
  margin: 1px;
}
.ph{
  text-align: right;
  justify-content: right;
  margin: 10px;
}
.audio{
  text-align: center;
}
.dd{
  font-size: 25px;
}
.rr{
  font-size: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(241, 68, 25);
  color: white;
  margin: 140px;
  margin-top: 20px;
}

