<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">phrases</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/tab1']" name="arrow-back-outline" class="dd"></ion-icon>
  <div class="head"><h1>Apprendre les phrases <span style="margin: 8px;"> تعلم الجمل </span></h1></div>

  <div class="content">
      <div class="phrase">
          <p>Arabukan kumasen<span style="margin-left:20px"> اَلْجُمْلَةُ اَلْعَرَبِيَةُ</span></p>
      </div>
      <div class="phra">
        <p><span style="margin: 10px;">اَلْجُمْلَةُ اَلْعَرَبِيَةُ قِسْمَيْنِ : اَلْإِسْمِيَةُ وَ اَلْفِعْلِيَةُ</span></p><h5><span style="margin-right:10px">Arabukan kumasen tilalen don tɔgɔ a ni Wale</span></h5>
      </div>
          <div class="phra"><span style="margin:10px;">Tɔgɔ-kumasen</span><span style="margin-right: 30px;">اَلْجُمْلَةُ اَلْإِسْمِيَةُ </span></div>
        <div class="ph">
           <h4><p>Mali ye N'ka jamana<span style="margin-left:15px">مَالِيِ دَوُلَتِيِ </span></p></h4>
           <h5><p>Maryam ye sunguru cɛɲi ye<span style="margin-left:15px">مَرْيَمُ بِنْتٌ جَمِيِلَةٌ </span></p></h5>
           <h6><p>Musa ye kalanden sɛbɛkɛ bali ye<span style="margin-left:10px">مُوُسَيَ تِلْمِيِذٌ كَسُوُلٌ </span></p></h6>
           <h6><p>Karamɔgɔ bɛ sɛbɛnni kɛ walan kan<span style="margin-left:15px">اَلَمُعَلِمُ يَكْتُبُ عَلَى سَبُوُرَةِ </span></p></h6>
           <h6><p>Waraba bɛ waraba file so kono <span style="margin-left:15px">اَلْأَسَدُ فِيِ اَلْحَدِ يِقَةُ اَلْحَيَوَانُ </span></p></h6>
           <h4><p>Silamɛw bɛ taa misiri la<span style="margin-left:15px">اَلْمُسِلِمُوُنَ يَذْهَبُوُنَ إِلَى اَلْمَسْجِدِ</span></p></h4>
           <h4><p>Cɛni ye n'tola gosi<span style="margin-left:15px">اَلْوَلَدُ يَضْرِ اَلْكُرَةُ</span></p></h4>
           <h4><p>Kafe ka di n ye<span style="margin-left:15px">أَنَا أُحِبُّ اَلْقَهْوَةَ </span></p></h4>
           <h4><p><span style="margin-left:15px">الذي فاز بالجائزة يوسُفُ</span></p><p><span style="margin-left: 2%;">Cɛ ba Min ye  jɔnjɔn  Sɔrɔ o ye Youssef ye</span></p></h4>
           <h4><p>Min ye sɛbɛnnikɛlan kari, o tun ye Zainab ye<span style="margin-left:15px">التي كسرت القلمَ هِيَ زينب</span></p></h4>
           <h4><p>Ibrahima bɛ taa Kayi<span style="margin-left:15px">إِبْرَاهِيِمُ يُسَافِرُ إِلَيَ كَايِ</span></p></h4>
           <h4><p>Aminata bɛ dumuni tɔbi <span style="margin-left:15px">أَمِنَةُ يَطْبَقُ اَلْطَعَامُ </span></p></h4>
           <h6><p>Muhamadu ye cɛnin ye min bɛ baara kɛ kosɛbɛ<span style="margin-left:15px">مَحَمَدُ وَلَدٌ مُجْتَهِدٌ </span></p></h6>
           <h4><p>Sun kalo ye boɲa kalo ye<span style="margin-left:15px">رَمَضَانَ شَهَرُ كَرِيِمٌ</span></p></h4>
           <h4><p>Sɔrɔdasi bɛ jamana lafasa<span style="margin-left:15px">اَلْجُنْدِيُ يُدَافِعُ بَلَدِهِ</span></p></h4>
           <h4><p>Issa ye jagokɛla ye<span style="margin-left:15px">عِيِسَ تَاجِرٌ </span></p></h4>
           <h4><p>Jiri in ka bon<span style="margin-left:15px">اَلْشَجَرَةُ عَالِيَةٌ</span></p></h4>
           <h6><p>Asim Goita ye cɛ barikama ye<span style="margin-left:15px">أَسِيِمُ غُوُيِتَا رَجُلٌ قَوِيٌ</span></p></h6>
           <h4><p>Mali bandri korotalen do<span style="margin-left:15px">عَلَمُ مَالِيِ مُرْتَفِعٌ</span></p></h4>
           <h4><p>Modibo Keita, ye  yɛrɛmahɔrɔnya facɛ<span style="margin-left:15px">مُوُدِبُوُ كِيْتَا أَبُوُ اَلْإِسُتِقِلاَلُ</span></p></h4>
       </div>
       <div class="audio">
      <h1>
        <audio controls >
          <source src="horse.ogg" type="audio/ogg">
          <source src="../../assets/audio/.mp3.mp3" type="audio/mpeg">
      </audio>
      </h1>
    </div>
  </div>
  <div class="rr">
    <ion-icon [routerLink]="['/phrases2']" name="arrow-forward-circle-outline"></ion-icon>
   </div>
</ion-content>
