.app{
  background-color: rgb(244, 58, 20)(255, 42, 0);
  border-radius: 20px;
  color: white;
  margin: 20px;
  text-align: center;
  justify-content: center;

}
.grid{
  text-align: center;
  justify-content: center;
}
.dd{
  font-size: 25px;
}
.rr{
  font-size: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(246, 62, 15);
  color: white;
  margin: 140px;
  margin-top: 20px;
}
.harf{
  text-align: center;
  justify-content: center;
}
