<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon  [routerLink]="['/alphabet']" name="arrow-back-outline" class="dd"></ion-icon>
  <header>
    <div class="app"><h2>Apprendre l'alphabet</h2></div>

</header>
       <div class="harf"><h5>حَرْفَ تَاءُ</h5></div>
<div class="grid">
    <div class="ap"><p class="h1"><h1>Ta = تَ</h1></div>
      <audio controls >
        <source src="horse.ogg" type="audio/ogg">
        <source src="../../assets/audio/Ta.mp3" type="audio/mpeg">
</audio><br><br>
  <img src="../../assets/image/tamaro.jpg" height="100%" width="80%"><br>
   <h1><p >Tamaaro = تَمَرٌ </p></h1>
</div>
<div class="rr">
  <ion-icon [routerLink]="['/alpha4']" name="arrow-forward-circle-outline"></ion-icon>
 </div>
</ion-content>
