<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">phrases2</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/phrases']" name="arrow-back-outline" class="dd"></ion-icon>
  <div class="head"><h1>Apprendre les phrases <span style="margin: 6px;"> تعلم الجمل </span></h1></div>

  <div class="content">
      <div class="phrase">
          <h6><span style="margin-right:20px;"> اَلْجُمْلَةُ اَلْعَرَبِيَةُ قِسْمَيْنِ : اَلْإِسْمِيَةُ وَ اَلْفِعْلِيَةُ</span><p><span style="font-size:4px ; margin-left: 20px;"></span>Arabukan kumasen tilalen don tɔgɔ a ni kumasenw </p></h6>
      </div>
      <div class="phrase">
          <h4><p><span style="margin-right:11px">Wale-kumasen</span><span style="margin-left:10px">اَلْجُمْلَةُ اَلْفِعْلِيَةُ </span></p></h4>
      </div>
        <div class="phrase">
           <h2><p>Ne ye malo dun<span style="margin-left:15px">أَكَلْتُ اَلْأُرْزُ</span></p></h2>
           <h2><span style="margin-left:15px">أَكْتُبُ عَلَى اَلْسَبُوُ رَةِ</span><p><span style="margin-left:15px;">Ne bɛ sɛbɛnni kɛ walan kan</span></p></h2>
           <h2><span style="margin-left:15px">ذَهَبَ اَلْتِلْمِيِذُ إِلَى اَلْمَدَرَسَةِ</span><p>kalanden n'taara kalan yoro la</p></h2>
           <h2><span style="margin-left:15px"> يَكْتُبُ اَلَمُعَلِمُ  اَلْدَرْسَ </span><p>Karamɔgɔ bɛ walanda sɛbɛ </p></h2>
           <h2><span style="margin-left:15px">ضَرَبَ أَحَمَدُ وَلَدَهُ</span><p>Ahamada ye cɛni bugo</p></h2>
           <h2><span style="margin-left:15px">قَرَأَ  زَكَرِيَاءُ اَلْقُرآَنُ</span><p>Diakaridia ye kuraana kalan</p></h2>
           <h2><span style="margin-left:15px">يَعَمَلُ اَلْعُمَالُ فِيِ اَلْحَقْلِ</span><p>Baara kelaw bɛ baarake wulakono</p></h2>
           <h2><p>Kafe ka di n ye<span style="margin-left:15px">أُحِبُّ اَلْقَهْوَةَ </span></p></h2>
           <h2><span style="margin-left:15px">جَلَسَ إِمَامُ عَلَىَ كُرُسِيُ </span><p>Alimaami sigira sigulan n'ka</p></h2>
           <h2><p>Zainab ye veri kari<span style="margin-left:15px"> كَسْرَتْ زِيْنَبُ كَأَسًا </span></p></h2>
           <h2><span style="margin-left:15px">رَكَبَ زِيْدُ عَلَىَ مَرْكَبُ</span><p>Zeyidu yelena kurun ka</p></h2>
           <h2><span style="margin-left:15px">يُعْلَجُ طَبِيِبُ اَلْمَرَدُ</span><p>Furakela bɛ banabakatɔ furake</p></h2>
           <h2><span style="margin-left:15px"> يَجْتَهِدُمُوُدِبُوُ فِيِ اَلْعَمَلِ </span><p>Modibo bi i djiladia a ka baara la</p></h2>
           <h2><span style="margin-left:15px">يُكِرِمُ اَلْمُسْلِمُوُنَ شَهَرُ رَمَضَانَ  </span><p>Silaamew bɛ sun kalo boɲa</p></h2>
           <h2><span style="margin-left:15px">يُدَافِعُ اَلْجُنْدِيُ  بَلَدِهِ</span><p>Sɔrɔdasi b'a aka jamana lafasa</p></h2>
           <h2><p>Issa ye jagokɛla ye<span style="margin-left:15px">يَسْرَبُ اَلْوَلدَاَلْبَنُ</span></p></h2>
           <h2><p>Jiri in ka bon<span style="margin-left:15px">يَقْطَعُ اَلْحَدَادُ اَلْشَجَرَةُ </span></p></h2>
           <h2><span style="margin-left:15px">كَتَبَ أَسِيِمُ غُوُيِتَاإِرْسَالتًاإِلَىَ فَرَنْسَا</span><p>Asim Goita ye cɛ barikama ye</p></h2>
           <h2><span style="margin-left:15px">يَرْتَفِعُ عَلَمُ مَالِىِ بِمَالِيُوُنَ </span><p>Mali bandri korotalen do</p></h2>
           <h2><p>N'facɛ taara kayi<span style="margin-left:15px">سَافَرَأَبِيِ إِلَىَ كَايِ</span></p></h2>
       </div>
      <h1 class="audio">
        <audio controls >
          <source src="horse.ogg" type="audio/ogg">
          <source src="../../assets/audio/.mp3.mp3" type="audio/mpeg">
       </audio>
      </h1>

  </div>
  <div class="rr">
    <ion-icon [routerLink]="['/tab1']" name="arrow-back-circle-outline"></ion-icon>
   </div>
</ion-content>
