<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alpha19</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/alphabet']" name="arrow-back-outline" class="dd"></ion-icon>
  <header>
    <div class="app"><h2>Apprendre l'alphabet</h2></div><br>
</header>
      <div class="harf"><h5>حَرْفَ غَيْنُ</h5></div>
<div class="grid">
    <div class="ap"><p class="h1"><h1>ghayn = غَ</h1></div><br>
      <audio controls >
        <source src="horse.ogg" type="audio/ogg">
        <source src="../../assets/audio/ghayn.mp3" type="audio/mpeg">
</audio>
  <img src="../../assets/image/chambre.jpg" height="100%" width="80%"><br>
  <h1><p >Sow ɲɛ kɔnɔ na =  غُرْفَ</p></h1><br>
</div>
<div class="rr">
  <ion-icon [routerLink]="['/alpha20']" name="arrow-forward-circle-outline"></ion-icon>
 </div>
</ion-content>
