<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alpha25</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/alphabet']" name="arrow-back-outline" class="dd"></ion-icon>
  <header>
    <div class="app"><h2>Apprendre l'alphabet</h2></div>
</header>
              <div class="harf"><h5>حَرْفَ نُوُنُ</h5></div>
<div class="grid">
    <div class="ap"><p class="h1"><h1>Na = نَ</h1></div>
      <audio controls >
        <source src="horse.ogg" type="audio/ogg">
        <source src="../../assets/audio/na.mp3" type="audio/mpeg">
</audio>
  <img src="../../assets/image/chaussir.png" height="100%" width="80%">
   <h1><p >Sanbara =  نَعَلٌ</p></h1>
</div>
<div class="rr">
  <ion-icon [routerLink]="['/alpha26']" name="arrow-forward-circle-outline"></ion-icon>
 </div>
</ion-content>
