.app{
  text-align: center;
  justify-content: center;
  border-radius: 40px;
  margin: 30px;
  padding: 1px;
  background-color: rgb(239, 69, 26);
  color: white;
}
.grid{
  text-align: center;
  justify-content: center;
}
.dd{
  font-size: 25px;
}
.rr{
  font-size: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(237, 67, 25);
  color: white;
  margin: 140px;
  margin-top: 20px;
}
.harf{
  text-align: center;
  justify-content: center;
}
