.container{
  border-radius: 28px;
  background-color: rgb(230, 71, 23);
  text-align: center;
  padding: 18px;
  // margin-left: 100px;
  // margin-right: 100px;
  margin-top: 1px;

}
.form-control{
  background-color: rgb(46, 110, 88);
  color: rgb(8, 8, 8);
  border-radius: 20px;
}
.con{
  background-color: rgb(15, 116, 15);
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.ins{
  background-color: rgb(9, 102, 156);
  color: rgb(20, 19, 19);
  border-radius: 10px;
  padding: 10px;
}
.cc{
  background-color: rgb(255, 255, 255);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}
.dd{
  font-size: 25px;
}

