<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">alphabet</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/tab1']" name="arrow-back-outline" class="dd"></ion-icon>
  <header>
    <h3 class="h3">Apprendre l'alphabet</h3><br><br>

    <div class="right" style="text-align: right; margin-right: 35px;">
      <h6 class="alpha">اَلْحُرُوُفُ اَلْهِجَائِيَةُ فِيِ اَلْعَرَبِيَةُ هِيَ ثَمَانِيَةُ وَ عِشُرُوُنَ</h6>
      <h6>Arabu kan siginidew ye 28</h6>
    </div>
    <!-- <audio controls >
      <source src="horse.ogg" type="audio/ogg">
      <source src="../../assets/audio/.mp3.mp3" type="audio/mpeg">
    </audio> -->
</header>

<div class="grid">
    <!-- Répétez ce bouton pour chaque lettre de l'alphabet -->
    <b>
    <div class="content">
      <div class="box" routerLink="/alpha7" >خَ</div>
      <div class="box" routerLink="/alpha6">حَ</div>
      <div class="box" routerLink="/alpha5">جَ</div>
      <div class="box" routerLink="/alpha4">ثَ</div>
      <div class="box" routerLink="/alpha3">تَ</div>
      <div class="box" routerLink="/alpha2">بَ</div>
      <div class="box" routerLink="/alpha1">أَ</div>

      <div class="box" routerLink="/alpha14">صَ</div>
      <div class="box" routerLink="/alpha13">شَ</div>
      <div class="box" routerLink="/alpha12">سَ</div>
      <div class="box" routerLink="/alpha11">زَ</div>
      <div class="box" routerLink="/alpha10">رَ</div>
      <div class="box" routerLink="/alpha9">ذَ</div>
      <div class="box" routerLink="/alpha8">دَ</div>

      <div class="box" routerLink="/alpha21">قَ</div>
      <div class="box" routerLink="/alpha20">فَ</div>
      <div class="box" routerLink="/alpha19">غَ</div>
      <div class="box" routerLink="/alpha18">عَ</div>
      <div class="box" routerLink="/alpha17">ظَ</div>
      <div class="box" routerLink="/alpha16">طَ</div>
      <div class="box" routerLink="/alpha15">ضَ</div>

      <div class="box" routerLink="/alpha28">يَ</div>
      <div class="box" routerLink="/alpha27">وَ</div>
      <div class="box" routerLink="/alpha26">هَ</div>
      <div class="box" routerLink="/alpha25">نَ</div>
      <div class="box" routerLink="/alpha24">مَ</div>
      <div class="box" routerLink="/alpha23">لَ</div>
      <div class="box" routerLink="/alpha22">كَ</div>
  </div>
</b>
</div>
</ion-content>
