.h6{
  text-align: center;
  justify-content: center;
  display: flex;
  padding-left: 1%;
  display: grid;

}
.h3{
  background-color: rgba(238, 59, 23, 0.945);
  color: white;
  text-align: center;
  justify-content: center;
  padding: 4%;
  margin: 10px;
  border-radius: 40px;
}
.h5{
  color: white;
  text-align: center;
  justify-content: center;
  padding: 1%;
  display: flex;
}
.h6{
  color: white;
  text-align: center;
  justify-content: center;
  padding: 1%;
  display: flex;
}
.content{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 22px;
}
.box{
  background: rgba(239, 60, 11, 0.945);
  margin: 10px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c{
  color: white;
}
.dd{
  font-size: 25px;
}


