<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">quiz</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-icon  [routerLink]="['/tab1']" name="arrow-back-outline" class="dd"></ion-icon>
       <div class="body">
        <!-- <div class="bo"></div> -->
      <!-- <div class="cont">
          <div class="start_btn"><button>Démarre Quiz</button></div>

               info_box
               <div class="info_box">
                  <div class="info_itle"><p>Ni ye kimeli sariya dɔw</p><span style="margin-left:8px ;">بعض قواعد هذا الاختبار</span></div>
                  <div class="info_list">
                    <div class="info">1. vous aves <span>15 par question</span></div>
                    <div class="info">2. Si vous selectionne un reponse vous ne peut pas annule</div>
                    <div class="info">3. vous ne peut rien fait lors que vous jouer</div>
                    <div class="info">4. vous ne peut pas sortie ju'squa ala fin</div>
                    <div class="info">5. votre point est base sur bon reponse</div>
                  </div>

                  <div class="button">
                    <button class="exit"> Sortie</button>
                    <button class="restart">Continue</button>
                  </div>
               </div>


                Quiz_box

               <div class="quiz_box">
                     <header>
                      <div class="title"> kimeli , Quiz <span style="margin-left: 8px;">الاختبار</span></div>
                        <div class="timer">
                            <div class="timer_left_txt">Time Left</div>
                            <div class="timer_left_sec">15</div>
                        </div>
                          <div class="timer_line"></div>
                     </header>
                     <section>
                      <div class="que_text">
                        ici je vais insere forme de javascript
                      </div>
                       <div class="optin_list">
                           ici je metter option forme  de javascript
                       </div>
                     </section>
                      footer de quiz_box
                      <footer>
                        <div class="total_quiz">
                          ici je metter le conteur de javascript
                        </div>
                         <button class="next_btn">Next quiz</button>
                      </footer>
               </div>
                resultat_box
               <div class="result_box">
                  <div class="result_box">
                     <div class="icon">
                     <i class="fas fa-crown"></i>
                     </div>
                     <div class="text_complet">i ka kimeli dafara</div>
                        <div class="text_score">
                           ici je vais insere resultat pour javascript

                             <div class="buttons">
                              <button class="restart">rejouer quiz</button>
                              <button class="quit">quite quiz</button>
                           </div>
                       </div>
                  </div>
              </div>-->
             <div class="app">
                <h1><b>Sɛgɛsɛgɛli Quiz</b></h1>
                <div class="quiz">
                 <h5 id="question"><b>Sɛgɛsɛgɛli ba adamine yan</b></h5>
                 <div id="answer-buttons">
                  <button class="btn">jaabi 1</button>
                  <button class="btn">jaabi 2</button>
                  <button class="btn">jaabi 3</button>
                  <button class="btn">jaabi 4</button>
                  <button class="btn">jaabi 5</button>
                  <button class="btn">jaabi 6</button>
                  </div>
                  <div id="next_btn">Next</div>
                </div>
            </div>
    </div>
</ion-content>
